<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <adminsample> <!-- Note that this, is section id from "etc/adminhtml/system.xml" -->
            <txt> <!-- And this, group id -->
                <textsample>YesThisIsText</textsample>
            </txt>
            <yn>
                <ynsample>0</ynsample>
            </yn>
        </adminsample>
    </default>
</config>
