<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Tym17_AdminSample::customMenu" title="Custom Menu" module="Tym17_AdminSample" sortOrder="500" parent="Magento_Backend::system" resource="Tym17_AdminSample::customMenu"/>
        <add id="Tym17_AdminSample::sampleOne" title="Sample One" module="Tym17_AdminSample" sortOrder="100" parent="Tym17_AdminSample::customMenu" action="AdminSample/sampleOne" resource="Tym17_AdminSample::sampleOne"/>
        <add id="Tym17_AdminSample::sampleTwo" title="Sample Two" module="Tym17_AdminSample" sortOrder="200" parent="Tym17_AdminSample::customMenu" action="AdminSample/sampleTwo" resource="Tym17_AdminSample::sampleTwo"/>
    </menu>
</config>
